*,
*:after,
*:before {
  box-sizing: border-box;
}
.info {
  box-sizing: border-box;
  padding: 5% 0% 0 0%;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  margin-top: 20px ;
  font-size: 30px;
  color: black;

  margin: 2rem auto;
  width: 100%;
  max-width: 550px;
  background-color:white;
  opacity: .9;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  padding: 0.75rem;
  height: 50%;
  filter: brightness(100%);
  
}
.author {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url(./images/1624787467568.jpg) top no-repeat;
  background-size: cover;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.author:hover{
  zoom: 170%;
 
}
b:hover{
  zoom: 150%;
 
}
.typing{
  height: 200px;
}
@media screen and (max-width: 720px) {
  .author {
    width: 150px;
    height: 150px;
  }
  .info{
    font-size: 17px;
    max-width: 300px;
  }
  .typing{
    height: 130px;
  }

 
  
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 0px;
  background-color: white;
  opacity: 0.8;
  color: rgb(0, 0, 0);
  text-align: center;
}
.qcont:first-letter {
  text-transform: capitalize;
  color: rgb(96, 101, 102);
  font-size: 20px;
  font-weight: bold;
}

.dropbtn {
  border-radius: 10px;
  padding: 02px 10px 0px 0px;
  font-size: 35px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content span:hover {
  background-color: #e7dede;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtcol {
  background-color: #fafafa;
}
.App {
  text-align: center;
}
.ali .dropdown:hover {
 
  height: 270px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

body {
  font-family: "DM Sans", sans-serif;
  color: white;
  background-color: #f1f3fb;
  padding: 0 2rem;
}

input {
  appearance: none;
  border-radius: 0;
  outline: none;
}

.card {
  margin: 2rem auto;
  display: flex;
  font-size: 18px;
  flex-direction: column;
  width: 100%;
  color: #0c0b0b;
  max-width: 550px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  padding: 0.75rem;
  height: 50%;
 
}

.card-image {
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 65%;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/curdpractise.appspot.com/o/images%2F1624787467568.jpg?alt=media&token=0aa905e9-ab52-4a5c-89b2-c5571d6b752c");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 5%;
  position: relative;
}

.card-info {
  text-align: center;
  font-size: 0.675rem;
  color: #8597a3;
}
.card-info a {
  display: block;
  color: #6658d3;
  text-decoration: none;
}

.input-field {
  padding: 5px;
  border-radius: 10px;
  width: 100%;
}
input {
  padding: 20px;
  height: 43px;
  font-size: 17px;
  
}
@media screen and (max-width: 720px) {
 
  .card{ 
    font-size: 20px;
    max-width: 300px;

  }
  input {
    padding: 20px;
    height: 43px;
    font-size: 20px;
  
     
  }
 
  
}


.frd{

  margin: 2rem auto;
  width: 100%;
  max-width: 750px;
  background-color: #fff;
  color: black;
  opacity: .9;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  padding: 0.75rem;
  height: 50%;

}
.fireRealTime{
  padding: 5px;
  margin: 2rem auto;
  width: 100%;
  max-width: 550px;
  background-color: rgb(231, 229, 229);
  color: black;
  border-radius: 8px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  filter: drop-shadow(10px 10px 4px #46464b);
  height: 50%;
  
}

.fireRealTime:hover{
  zoom: 110%;
 
}
.fireDataBtn{
  width: 50px;
  height: 50px;
  border-radius:50%;
}

.fireDataBtn:hover{
  background:red;
  opacity: .8;
}

@media screen and (max-width: 720px) {
 
  .frd{ 
    opacity: .9;
    filter: brightness(100%);

  }
  
  .fireRealTime{
  
  overflow: hidden;
  }
  
}
.zoomIcon{

  font-size: 30px;
}
.zoomIcon:hover{
  zoom:140%;
}
.IconDiv{
  display:flex;
  justify-Content:space-between;
  margin-Left:30%;
  margin-Right:30%;

}

@media screen and (max-width: 720px) {

  .IconDiv{
    margin-Left:20%;
    margin-Right:20%;
  }

}